body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-size: 1.2em;
    color: rebeccapurple;
    width: 100px;
    display: inline-block;
}

ul.quiz-list li {
    list-style-type: none;
}